<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sign_in.code.mapper.SignInConfigMapper">
    <resultMap id="SignInConfigMap" type="com.sign_in.code.entity.SignInConfig">
        <id column="config_id" property="configId"/>
        <result column="config_sign_in_props" property="configSignInProps"/>
        <result column="config_sign_in_indexBackImg" property="indexBackImg"/>
        <result column="config_sign_in_invitation_backImg" property="invitationBackImg"/>
        <result column="config_sign_in_noticeBackImg" property="noticeBackImg"/>
        <result column="config_sign_in_download" property="download"/>
        <result column="config_sign_in_invitation" property="invitation"/>
    </resultMap>
    <sql id="SignInConfig_SQL">
       config_id,
        config_sign_in_props,
        config_sign_in_download,
        config_sign_in_invitation,
        config_sign_in_indexBackImg,
        config_sign_in_noticeBackImg,
        config_sign_in_invitation_backImg
    </sql>
    <select id="getSignInConfig" resultMap="SignInConfigMap">
        SELECT
        <include refid="SignInConfig_SQL"/>
        FROM sign_in_config
    </select>
    <select id="getBackImg" resultMap="SignInConfigMap">
        SELECT config_sign_in_noticeBackImg,config_sign_in_invitation_backImg

        FROM  sign_in_config
    </select>
</mapper>