<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sign_in.code.mapper.UserAdminMapper">
    <resultMap id="UserAdminResultMap" type="com.sign_in.code.entity.SignInUserAdmin">
        <id column="user_admin_id" property="userAdminId"/>
        <result column="user_admin_name" property="userAdminName"/>
        <result column="user_admin_pwd" property="userAdminPwd"/>
    </resultMap>
    <sql id="Base_UserAdmin_List">
        user_admin_id,user_admin_name,user_admin_pwd
    </sql>
    <insert id="addAdmin">
        INSERT INTO sign_in_user_admin
        (`user_admin_name`,`user_admin_pwd`)
        VALUES(
        #{name},
        #{pwd}
        )
    </insert>
    <select id="getUserAdmin" resultMap="UserAdminResultMap">
      SELECT
      <include refid="Base_UserAdmin_List"/>
      FROM sign_in_user_admin
      WHERE user_admin_name=#{name}
    </select>

</mapper>